{% extends 'base.html' %}
{% block content %}
<h2>User Dashboard</h2>

<h3>Available Subjects & Quizzes</h3>
<ul>
    {% for subject in subjects %}
    <li>
        <strong>Subject: {{ subject.name }}</strong>

        <ul>
            {% if subject.chapters %}
                {% for chapter in subject.chapters %}
                <li>
                    Chapter: {{ chapter.name }}
                    <ul>
                        {% if chapter.quizzes %}
                        <div class="search-box">
                            <input type="text" name="query" placeholder="Search for a quiz..." form="usersearch">
                            <button type="submit" form="usersearch">Search</button>
                        </div>
                        <form action="{{ url_for('main.user_quiz_search') }}" method="GET" id="usersearch"></form>    
                        {% for quiz in chapter.quizzes %}
                            <li>
                                {{ quiz.name }} Quiz ({{ quiz.duration }} minutes)
                                <a href="{{ url_for('main.start_quiz', quiz_id=quiz.id) }}">Start Quiz</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li>No quizzes available yet.</li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            {% else %}
                <li>No chapters available yet.</li>
            {% endif %}
        </ul>
    </li>
    {% else %}
    <li>No subjects available yet.</li>
    {% endfor %}
</ul>
<a href="{{ url_for('main.results') }}">
    <button>View Scores</button>
</a>

{% endblock %}