{% extends 'base.html' %}
{% block content %}
<center><h2 style="font-family: cursive;">User Login</h2></center>
<div class="container">
    <form method="POST">
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <center><button type="submit">Login</button></center>
    </form>
</div>
<a href="{{ url_for('main.register') }}">Don't have an account? Register</a>
{% endblock %}