{% extends 'base.html' %}
{% block content %}
<h2>Search Results for "{{ query }}"</h2>

{% if quizzes %}
<table border="1">
    <tr>
        <th>Quiz Name</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    {% for quiz in quizzes %}
    <tr>
        <td>{{ quiz.name }}</td>
        <td>{{ quiz.duration }} minutes</td>
        <td>
            <a href="{{ url_for('main.add_question', quiz_id=quiz.id) }}">
                <button>Add Questions</button>
            </a>
            <a href="{{ url_for('main.quiz_delete', quiz_id=quiz.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="delete-btn" onclick="return window.alert('Deleting this quiz?')">Delete Quiz</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No quizzes found.</p>
{% endif %}

<a href="{{ url_for('main.admin_db') }}">
    <button>Dashboard</button>
</a>
{% endblock %}
